<h2>
    {{title}}
</h2>
<div id="main-table">
    <table>
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Feito
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarefa of tarefas; let i = index;">
                <td *ngIf="i < tarefas.length">
                    {{tarefa.id}}
                </td>
                <td *ngIf="i < tarefas.length">
                    {{tarefa.descricao}}
                </td>
                <td *ngIf="i < tarefas.length && tarefa.feito == true">
                    <input type="checkbox" checked = 'true' disabled>
                </td>
                <td *ngIf="i < tarefas.length && tarefa.feito == false">
                    <input type="checkbox" disabled>
                </td>
            </tr>
        </tbody>
    </table>
</div>